body{
    background-color: aquamarine;
}
.mainsection{
    display:flex;
    gap:25px;
    
   
}
.image1{
        
        
        display:flex;
        
        background-color: white;
        width:14%;
        height:500px;
        justify-content:center;
        align-items:center;
        
        


}
.image2{
    display:flex;
    background-color: white;
        width:14%;
        height:200px;
        align-items:center;
        justify-content:center;
        margin-top: 180px;

}
.image3{
    display:flex;
    background-color: white;
        width:14%;
        height:200px;
        align-items:center;
        justify-content:center;
        

}
.image4{
    display:flex;
    background-color: white;
        width:14%;
        height:200px;
        align-items:center;
        justify-content:center;
        margin-top:300px;

}
.image5{
    display:flex;
    background-color: white;
        width:14%;
        height:200px;
        align-items:center;
        justify-content:center;

}